.box {
 width: 100px;
 height: 100px;
 background-color: orange;
}

/*각자 넣기*/
#box1 {
 margin-top: 100px;
 margin-right: 100px;
 margin-bottom: 50px;
 margin-left: 100px;
}

/*위에서 부터 시계방향*/
#box2 {
 margin: 40px 10px 40px 10px;
}

/*위아래, 좌우가 똑같을 때*/
#box3 {
 margin: 40px 10px;
}

/*모든 방향이 다 똑같을 때*/
#box4 {
 margin: 100px;
}

/*위 아래의 마진이 겹치면 큰갑으로 감*/
#box5 {
 margin: 100px 0 0 0;
}

/*
여백을 사용할 수 있는 만큼 다 채움
좌우만 적용이 된다. 
*/
#box6 {
 margin: auto;
}